body {
    background-image: url(https://brand.pngaming.com/m/2922c9189fe760a4/Web_Size_486x273-AdobeStock_173089990.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

  
h1 {
    font-size: 30px;
    color: whitesmoke;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h2 {
    font-size: 20px;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}

#slot {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.squares {
    display: flex;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(212, 194, 77);
    border-radius: 5px;
    margin: 2px;
    background: white;
}

.board {
    transition: transform 120ms ease-in-out;
}

button {
    border-radius: 2px;
    border: lightgray;
    margin-top: 30%;
}

button:hover {
    transform: scale(0.9);
    transition: transform 120ms ease-in-out;
    background-color: rgb(181, 138, 8);
    color: white;
    border: none;
}

.boardone, .boardtwo, .boardthree {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; 
    height: 50px;
    font-size: 20px; 
}
